In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import scipy
from scipy import stats
from sklearn.preprocessing import LabelEncoder

In [ ]:
df=pd.read_csv('train.csv')
df

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [ ]:
le=LabelEncoder()

#encoding is holiday
df.IsHoliday=le.fit_transform(df.IsHoliday)
print(df.IsHoliday)

0         0
1         1
2         0
3         0
4         0
         ..
421565    0
421566    0
421567    0
421568    0
421569    0
Name: IsHoliday, Length: 421570, dtype: int64

In [ ]:
#checking null values
df.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [ ]:
df['Date']

0         2010-02-05
1         2010-02-12
2         2010-02-19
3         2010-02-26
4         2010-03-05
             ...
421565    2012-09-28
421566    2012-10-05
421567    2012-10-12
421568    2012-10-19
421569    2012-10-26
Name: Date, Length: 421570, dtype: object

In [ ]:
df.drop(['Date'], axis=1, inplace=True)

In [ ]:
df.isnull().sum()

Store           0
Dept            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [ ]:
df['Store'].value_counts

<bound method IndexOpsMixin.value_counts of 0          1
1          1
2          1
3          1
4          1
          ..
421565    45
421566    45
421567    45
421568    45
421569    45
Name: Store, Length: 421570, dtype: int64>

In [ ]:
y=df['Weekly_Sales']
x=df.iloc[:,:]
x.drop(['Weekly_Sales'],axis=1,inplace=True)

In [ ]:
y

0         24924.50
1         46039.49
2         41595.55
3         19403.54
4         21827.90
            ...
421565      508.37
421566      628.10
421567     1061.02
421568      760.01
421569     1076.80
Name: Weekly_Sales, Length: 421570, dtype: float64

In [ ]:
#splitting the data into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=0.3)

In [ ]:
#fitting and trainig model
lr=LinearRegression()

In [ ]:
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=lr.predict(x_test)

In [ ]:
r2=r2_score(y_test,y_pred)
print(r2)

0.030851587394446156