In [1]:
import numpy as np # linear algebra
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

In [2]:
df=pd.read_json('train.json')

In [3]:
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [4]:
print('Shape:',df.shape)
print('Columns:',df.columns)

print('Whether Null exists:\n',df.isnull().sum())

Shape: (39774, 3)
Columns: Index(['id', 'cuisine', 'ingredients'], dtype='object')
Whether Null exists:
 id             0
cuisine        0
ingredients    0
dtype: int64

In [5]:
df['cuisine'].unique()

array(['greek', 'southern_us', 'filipino', 'indian', 'jamaican',
       'spanish', 'italian', 'mexican', 'chinese', 'british', 'thai',
       'vietnamese', 'cajun_creole', 'brazilian', 'french', 'japanese',
       'irish', 'korean', 'moroccan', 'russian'], dtype=object)

In [6]:
df['cuisine'].value_counts()

italian         7838
mexican         6438
southern_us     4320
indian          3003
chinese         2673
french          2646
cajun_creole    1546
thai            1539
japanese        1423
greek           1175
spanish          989
korean           830
vietnamese       825
moroccan         821
british          804
filipino         755
irish            667
jamaican         526
russian          489
brazilian        467
Name: cuisine, dtype: int64

In [7]:
df['cuisine'] = df['cuisine'].map({'italian':1,
                       'mexican':2,
                       'southern_us':3,
                       'indian':4,
                       'chinese':5,
                       'french':6,
                       'cajun_creole':7,
                       'thai':8,
                       'japanese':9,
                       'greek':10,
                       'spanish':11,
                       'korean':12,
                       'vietnamese':13,
                       'moroccan':14,
                       'british':15,
                       'filipino':16,
                       'irish':17,
                       'jamaican':18,
                       'russian':19,
                       'brazilian':20
})

In [8]:
x = df.iloc[:,-1]
y = df['cuisine']
x

0        [romaine lettuce, black olives, grape tomatoes...
1        [plain flour, ground pepper, salt, tomatoes, g...
2        [eggs, pepper, salt, mayonaise, cooking oil, g...
3                      [water, vegetable oil, wheat, salt]
4        [black pepper, shallots, cornflour, cayenne pe...
                               ...
39769    [light brown sugar, granulated sugar, butter, ...
39770    [KRAFT Zesty Italian Dressing, purple onion, b...
39771    [eggs, citrus fruit, raisins, sourdough starte...
39772    [boneless chicken skinless thigh, minced garli...
39773    [green chile, jalapeno chilies, onions, ground...
Name: ingredients, Length: 39774, dtype: object

In [9]:
y

0        10
1         3
2        16
3         4
4         4
         ..
39769    17
39770     1
39771    17
39772     5
39773     2
Name: cuisine, Length: 39774, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [12]:
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)

In [13]:
x_train

                                             ingredients
31255  [yellow onion, hot water, ground turmeric, fre...
32399  [lime juice, zucchini, chili powder, salt, dri...
34614  [fresh ginger, cauliflower florets, lemon juic...
22301  [fish sauce, pepper, garlic, calamansi, broth,...
4688   [water, salt, celery, onions, chicken stock, v...
...                                                  ...
7813   [orange juice concentrate, garlic cloves, fres...
32511  [grated parmesan cheese, fresh basil leaves, e...
5192   [basil leaves, olive oil, extra-virgin olive o...
12172  [powdered sugar, large egg yolks, salt, heavy ...
33003  [soy sauce, black beans, green onions, garlic,...

[31819 rows x 1 columns]

In [14]:
x_train['ingredients'] = x_train['ingredients'].apply(lambda x:  ' '.join(x))
x_test['ingredients'] = x_test['ingredients'].apply(lambda x:  ' '.join(x))

In [15]:
x_train

                                             ingredients
31255  yellow onion hot water ground turmeric fresh g...
32399  lime juice zucchini chili powder salt dried or...
34614  fresh ginger cauliflower florets lemon juice f...
22301  fish sauce pepper garlic calamansi broth gluti...
4688   water salt celery onions chicken stock vegetab...
...                                                  ...
7813   orange juice concentrate garlic cloves fresh c...
32511  grated parmesan cheese fresh basil leaves eggp...
5192   basil leaves olive oil extra-virgin olive oil ...
12172  powdered sugar large egg yolks salt heavy whip...
33003  soy sauce black beans green onions garlic oil ...

[31819 rows x 1 columns]

In [16]:
x_test

                                             ingredients
25674  water yoghurt peanut oil ground cumin ground c...
3666   lemon zest whipping cream yellow corn meal bak...
27481  salad dressing chuck roast garlic ground black...
36750  sesame seeds worcestershire sauce cucumber pep...
31926  bay leaves cayenne pepper ground cloves vegeta...
...                                                  ...
23536  shredded cheddar cheese ricotta cheese eggs Al...
30857  cajun seasoning onions water hot Italian sausa...
36586  eggplant large garlic cloves veal shanks large...
17770  ground pepper cilantro scallions seedless cucu...
36850  eggs self rising flour margarine light brown s...

[7955 rows x 1 columns]

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
cv = CountVectorizer()
x_train_bow = cv.fit_transform(x_train['ingredients']).toarray()
x_test_bow = cv.transform(x_test['ingredients']).toarray()

In [20]:
x_train_bow.shape

(31819, 2887)

In [22]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

gnb.fit(x_train_bow,y_train)

y_pred = gnb.predict(x_test_bow)

from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.24349465744814583